.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width:  500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-gray);
}

.completed {
  background-color: var(--color-white);
}